#root {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 8px 8px 57px 8px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(70,56,58,255);
  border-radius: 10px;
}

.title {
  font-weight: 600;
  text-align: left;
  width: 100%;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 8px;
}

.read-the-docs {
  color: #888;
}

.main-container {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(70,56,58,255);
}

.interaction-logs-container {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.interaction-logs {
  text-align: left;
}

.text-field-label {
  font-weight: 600;
  margin: 0px 0px 5px 0px;
  text-align: left;
  width: 100%;
  font-size: 12px;
}

.text-hint {
  color: rgb(255, 255, 255, 0.6);
}

.all-pages {
  text-align: left;
  margin-left: 8px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
}

.image-item {
  position: relative;
  width: 100%;
  text-align: left;
  display: flex;
  min-height: 70px;
  padding: 8px 0px 8px 0px;
  align-items: center;
  margin: 0px;
  flex-direction: row;
  justify-content: left;
  gap: 5px;
}

.image-item:hover {
  background-color: rgba(150, 120, 125, 0.7);
}

.image-item-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  columns: white;
}

.footer-button {
  position: fixed;
  background-color: rgba(47,35,37,255);
  bottom: 0px;
  padding: 8px 0px 8px 0px;
  width: 100%;
  text-align: left;
}

.dialog-hint {
  color: rgb(255, 255, 255, 0.6);
  text-align: left;
  font-size: 12px;
}
