.dialog-label {
    margin: 2px 0px;
}

.dialog-hint {
    color: rgb(255, 255, 255, 0.6);
    text-align: left;
    font-size: 12px;
}

.walkthrough-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
  