.main-folder-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
}

.new-folder {
    position: relative;
    width: 100%;
    text-align: left;
    display: flex;
    height: 20px;
    padding: 8px 0px 8px 0px;
    align-items: center;
    margin: 0px;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
  }
  
  .new-folder .folder-icon {
    margin-left: 8px;
  }

  .new-folder.image-item-hover:hover {
    background-color: rgba(150, 120, 125, 0.7);
  }

.folders-container {
    margin-top: 8px;
}

.folder-item-content {
    margin-left: auto;
    margin-right: 0px;
}

.folder-title {
    font-weight: 600;
    text-align: left;
    width: fit-content;
    font-size: 14px;
    margin: 0px;
}

.folder-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}